@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
#root {
  --randox-color: #ff8434;
  --section-background: #d9d9d9;
  --section-bloc-bachground: #efeded;
  --bouton-destination:#424340;
}
.nanum-brush-script {
  font-family: "Nanum Brush Script", cursive;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d9d9d9;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", Impact,
    Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.header {
  width: 100%;
  height: 10em;
  background-color: grey;
  position: relative;
  background-image: url("./src/image/header.jfif");
  background-size: 100%;
}

/* .img-header {
    width: 100%;
    height: 100%;
} */

.icon-menu {
  position: absolute;
  top: 0;
  color: var(--randox-color);
  font-size: 2.5em;
  text-shadow: 3px 3px 3px black;
}

.marque {
  position: absolute;
  top: 0;
  right: 0.5em;
  color: var(--randox-color);
  text-shadow: 3px 3px 3px black;
  font-family: "Nanum Brush Script", cursive;
  font-size: 3em;
}
.description-accueil {
  position: relative;
  left: 8%;
  top: 1em;
  width: 80%;
  padding: 0.5em;
  background-color: #efeded;
  box-shadow: 5px 5px 25px grey;
  border-radius: 25px;
}

.cki {
  font-family: arial;
}

.spancki {
  color: var(--randox-color);
}

.div-video {
  width: 100%;
  position: relative;
  top: 2em;
}

.video {
  width: 100%;
}

/**HEADER**/


.iconeDisplay{
    display: none;

}
/**HEADER FIN**/

@media screen and (min-width: 768px) {
  .header {
    width: 100%;
    background-color: grey;
    position: relative;
    background-image: url("./src/image/header - Copie.jfif");
    background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 1rem;
    
  }

  .icon-menu {
    display: none;
  }

  .description-accueil {
    position: relative;
    left: 5%;
    top: 1em;
    width: 90%;
    padding: 1em;
    background-color: #efeded;
    font-size: 1.2em;
    border-radius: 25px;
  }

  .marque {
    position: absolute;
    top: 0;
    left: 0.5em;
    color: var(--randox-color);
    text-shadow: 3px 3px 3px black;
    font-family: "Nanum Brush Script", cursive;
    font-size: 6em;
  }

  .div-video {
    width: 80%;
    position: relative;
    left: 10%;
    top: 2.5em;
  }

  .video {
    width: 100%;
  }
  /***** HEADER ********/
.destination{
    display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: flex-end; 
  
 }
 .btnDest{
     background-color: var(--bouton-destination);
     cursor: pointer;
     border: none;
     border-radius: 25px;
     width: 12%;
     color: white;
     font-weight: bolder;
     padding: 0.2rem;
     
 }
 .iconeDisplay:hover{
    display: block;

}
 .btnDest:hover{
    transition: transform 0.3s ease;
    transform: scale(1.2);

 }
 .iconeDisplay{
    display: none;

}
 /******FIN HEADER*****/
}
